body {
  font-family: 'roboto', sans-serif;
  text-align: center;
  color: #393E46;
  font-size: 1rem;
  padding-left:10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  font-family: 'Amatic SC', cursive;
  color:#bb2188;
  text-align: center;
  display: block;
  font-size: 2.3rem;
}

h2 {
    text-align: left;
    font-size: 1.1rem;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  color:#bb2188;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}

.para {
  font-family: 'roboto', sans-serif;
  text-align: center;
  color: #393E46;
  line-height: 1.8em;
}

.parathick {
  font-family: 'roboto', sans-serif;
  text-align: justify;
  color: #393E46;
  font-weight: bold;
}

#socialbox {
  border: 0.2rem solid #6FDCBF;
}

.fa {
  padding:0.6rem;
  display: inline-block;
  cursor:pointer;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-twitter:hover {
   opacity: 0.7;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-linkedin:hover {
   opacity: 0.7;
}

.fa-instagram {
  color: #6FDCBF;
}

.fa-instagram:hover {
   opacity: 0.7;
}

.fa-pinterest {
  color: #cb2027;
}

.fa-pinterest:hover {
   opacity: 0.7;
}

.para {
  padding: 0 auto  ;
  text-align: justify;
  text-justify: inter-word;
}



img {
  margin:0 auto;
  display:block;
  padding: 1rem 1rem;
}

a:link {
    color: #393E46;
    text-align: inherit;
    font-family:  'Amatic SC', cursive;
    font-weight: bold;
}

a:visited {
    color: #901a69;
}

a:hover {
    color: #BB2188;
}

.img-circle {
  text-align:center;
  border-radius: 50%;
  background-position: center;
  display: inline-block;
  width: 9rem;
  height: 9rem;
  margin: 1rem;
  overflow: hidden;
  background-size: cover;
}

.img-rinjani {
  background-image: url("../img/rinjani.jpg");
}
.img-child {
  background-image: url("../img/child.jpg");
}
.img-balibeach {
  background-image: url("../img/balibeach.jpg");
}
.img-jodhpur {
  background-image: url("../img/jodhpur.jpg");
}

.movingImage {
    margin: auto;
    width:  35rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#showFirstImage {
  display: block;
}

.more {
	display: none;
}
a.showLink, a.hideLink {
	text-decoration: none;
	color: #666666;
	padding-left: 1rem;
	background: transparent url('') no-repeat left; }
a.hideLink {
	background: transparent url('') no-repeat left; }
a.showLink:hover, a.hideLink:hover {
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    resize: vertical
}

input[type=submit] {
    background-color: #6FDCBF;
    color: white;
    padding: 1rem 2.2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #60c1a8;
}

.container {
    border-radius: 1rem;
    background-color: ;
    padding: 2rem;
}
