.title {
  font-family: 'Amatic SC', cursive;
  color:#bb2188;
  text-align: center;
  display: block;
}

.para {
  font-family: 'roboto', sans-serif;
}

body {
  padding:5rem
}

.fa {
  padding: 1rem;
  height: 1rem;
  width:1rem;
  text-align: center;
  text-decoration: none;
  margin:auto;
  border-radius: 50%;
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter-square {
  color: #55ACEE;
}


.fa-linkedin-square {
  color: #007bb5;
}

.fa-instagram {
  color: #6FDCBF;
}

.fa-pinterest-square{
  color: #cb2027;
}

para {
  padding:20rem;
}

.img-circle {
  text-align:center;
  border-radius: 50%;
  background-position: center;
  display: inline-block;
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  overflow: hidden;
  background-size: cover;
}

.img-games {
  background-image: url("../img/games.jpg");
}
.img-child {
  background-image: url("../img/child.jpg");
}
.img-banner {
  background-image: url("../img/banner.jpg");
}
.img-march {
  background-image: url("../img/march.jpg");
}

.navContainer {
  height: 2rem;
}

.movingImage {
    margin: auto;
    width:  35rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#showFirstImage {
  display: block;
}

/* Style the links inside the navigation bar */
.topnav {
    float: right;
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
}

/* Change the color of links on hover */
.topnav:hover {
    color: #bb2188;
}

/* Add a color to the active/current link */
.topnav:active {
    color: #bb2188;
}
