.title {
  font-family: 'Amatic SC', cursive;
  color:#bb2188;
  text-align: center;
  display: block;
}
.para {
  font-family: 'roboto', sans-serif;
}

.images {
  background-position: center;
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin-left: 3rem;
  overflow: hidden;
  background-size: cover;
}

.img-games {
  background-image: url("../img/games.jpg");
}
.img-child {
  background-image: url("../img/child.jpg");
}
.img-banner {
  background-image: url("../img/banner.jpg");
}
.img-march {
  background-image: url("../img/march.jpg");
}

.navContainer {
  height: 2rem;
}

.movingImage {
    margin: auto;
    width:  35rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#showFirstImage {
  display: block;
}

/* Style the links inside the navigation bar */
.topnav {
    float: right;
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
}

/* Change the color of links on hover */
.topnav:hover {
    color: #bb2188;
}

/* Add a color to the active/current link */
.topnav:active {
    color: #bb2188;
}

.gallery {
  margin: 5% 10%;
  text-align: center;
}
